name: CI Pipeline do Claudio

on:
  push:
    branches: [ "main" ]

jobs:
  validacao:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hadolint Dockerfile check
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  build_imagem:
    needs: validacao  # Só constrói se o Lint passar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build Docker Image
        run: docker build -t meu-app-python:latest .
