name: CI/CD Pipeline Docker Hub

# O gatilho: roda sempre que você der 'git push' na branch main
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Baixa o código do seu GitHub para a máquina que vai rodar o job
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Faz o login no Docker Hub usando os Secrets que você criou
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Constrói a imagem Docker e envia para o seu repositório
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Atualizado para o seu novo usuário do Docker Hub
          tags: claudiosanroman23/projeto-cicd-python:latest
