name: CI/CD Pipeline Docker Hub

# Gatilho de execução: monitora a branch principal (main)
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    # Utiliza uma máquina virtual (runner) limpa com a última versão do Ubuntu
    runs-on: ubuntu-latest
    
    steps:
      # Passo 1: Clona o código do repositório para dentro do runner do GitHub
      - name: Checkout code
        uses: actions/checkout@v3

      # Passo 2: Autenticação segura no Docker Hub
      # Utiliza as variáveis de ambiente (Secrets) configuradas no GitHub Settings
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Passo 3: Processamento da Imagem e Deploy (Push)
      # Constrói a imagem baseada no Dockerfile e a envia para o Registry
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          # Define o contexto da build (diretório atual)
          context: .
          # Habilita o envio para o Docker Hub após a construção com sucesso
          push: true
          # Namespace (claudiosanroman) + nome da imagem + tag de versão (latest)
          tags: claudiosanroman/projeto-cicd-python:latest
